* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}
.wrapper {
    width: 100%;

}
.img-banner {
    display:none

}

#firstProjectImage{
    height:55%;
    width:55%;
}

#secondProjectImage{
    height:45%;
    width:45%;
}

#thirdProjectImage{
    height:35%;
    width:35%;
}

.main-header, .main-footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

a {
    display: inline-block;
    margin: 20px;
    font-size: larger;
}

h1 {
    padding: 20px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
    line-height: 45px;
    display: flex;
}

.bio, .info, .interests {
    font-size: 25px;
    padding-left: 10px;

}

#projects {
    font-size: 20px;
    padding-left: 35px;
    border-width: 0 5px 5px 0;
    border-style: solid;
    border-color: black

}
.card {
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
    display: inline;
  }
  
.inside-card {
    display: inline-block;
    font-size: 30px;
    border-right: 5px solid black;
}



@media only screen and (min-width:768px) {
    .img-banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    
    }
    .wrapper {
        width: 600px;
        margin: 0 auto;
    
    }
    .info h1 {
        padding: 20px 0px 0px;
        
    }
    .info ul {
        padding: 20px 0px 0px;
       
    }
}

@media only screen and (min-width:1000px) {
    .wrapper {
        width: 1000px;
    }
    .info {
        width: 50%;
        float: inline-end;
}
}